{
  "branch": "master",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogTitle": "# Changelog typescript-schema-transformer"
      }
    ],
    "@semantic-release/npm",
    "@semantic-release/github",
    "@semantic-release/git"
  ]
}
